@using System.Threading.Tasks
@using HouseFinance.Core.Bills.Payments
@using HouseFinance.Core.FileManagement
@model List<HouseFinance.Core.Bills.BillOverview>
@{
    var payments = new GenericFileHelper(FilePath.Payments).GetAll<Payment>();
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>House Finance</h1>
    <p class="lead">A website built to manage the house finance for a very sexy couple, David and Vikki, and their three pet cats, Joshukitten, Dexter & Kylo.</p>
</div>

<div class="row">
    <div id="fh5co-portfolio">
        <p>@ViewBag.ExceptionMessage</p>
        <h1 id="fh5co-header">List of Current Bills</h1>
        <a href="@Url.Action("AddBill", "Finance")" class="btn btn-primary" style="float: right">Add New Bill</a>
        @if (ViewBag.ExceptionMessage != "")
        {
            try
            {
                foreach (var bill in Model)
                {
                    var divClass = "fh5co-portfolio-description";

                    if (bill.Overdue)
                    {
                        divClass = "fh5co-portfolio-alert";
                    }
                    else if (bill.Paid)
                    {
                        divClass = "fh5co-portfolio-completed";
                    }

                    <div class="fh5co-portfolio-item">
                        <div class="@divClass">
                            <div class="col-sm-6 col-md-6">
                                <h3 style="font-family: NatterMedium; font-size: 33px; color: rgb(51, 51, 51)">
                                    <b>@bill.Name</b>
                                </h3>
                                <h5 style="font-family: WhisperLight; font-size: 20px; color: rgb(51, 51, 51)">
                                    Total:
                                </h5>
                                <h1 style="font-family: WhisperLight; font-size: 65px; color: rgb(51, 51, 51)">
                                    £@bill.TotalAmount.ToString("###0.00")
                                </h1>
                                <a href="@*@Url.Action("BillDetails", "Finance", new {billId = @bill.Id })*@" class="btn btn-primary">See Bill Details</a>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <span style="font-family: Helvetica; font-size: 20px; color: rgb(51, 51, 51)">
                                    Bill Date: <b>@bill.FullDateDue.ToString("dd MMMM yyyy")</b>
                                </span>
                                <hr style="margin: 5px" />
                                <span style="font-family: Helvetica; font-size: 20px; color: rgb(51, 51, 51)">
                                    Balance Left: <b>£@bill.AmountDue.ToString("###0.00")</b>
                                </span>
                                <hr />
                                <span>
                                    @foreach (var person in bill.People)
                                    {
                                        var grayscale = "grayscale(100%)";
                                        var opacity = "opacity(50%)";

                                        if (person.Paid)
                                        {
                                            grayscale = "grayscale(0%)";
                                            opacity = "opacity(100%)";
                                        }

                                        <img src="@person.ImageLink" width="40" style="filter: @grayscale @opacity; -webkit-filter: @grayscale @opacity" />
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                }

                <a href="#" class="btn btn-primary" style="float: right">See All Bills [DEAD]</a>
            }
            catch (Exception exception)
            {
                ViewBag.ExceptionMessage = "An Error occured while rendering the Bill list.";

                <div class="fh5co-portfolio-item">
                    <div class="fh5co-portfolio-description">
                        <p>@ViewBag.ExceptionMessage @exception.Message</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="fh5co-portfolio-item">
                <div class="fh5co-portfolio-description">
                    <p>@ViewBag.ExceptionMessage</p>
                </div>
            </div>
        }
    </div>
</div>