@using Services.FileIO
@using Services.Models.FinanceModels
@using HouseFinance.Api.Models
@model BillListResponse
@{
    var payments = new GenericFileHelper(FilePath.Payments).GetAll<Payment>();
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>House Finance</h1>
    <p class="lead">A website built to manage the house finance for a very sexy couple, David and Vikki, and their three pet cats, Joshukitten, Dexter & Kylo.</p>
</div>

<div class="row">
    <div id="fh5co-portfolio">
        <p>@ViewBag.ExceptionMessage</p>
        <h1 id="fh5co-header">List of Current Bills</h1>
        <a href="@Url.Action("AddBill", "Finance")" class="btn btn-primary" style="float: right">Add New Bill</a>
        @if (ViewBag.ExceptionMessage != "")
        {
            try
            {
                foreach (var bill in Model.BillList)
                {
                    var divClass = "fh5co-portfolio-description";

                    if (bill.Overdue)
                    {
                        divClass = "fh5co-portfolio-alert";
                    }
                    else if (bill.Paid)
                    {
                        divClass = "fh5co-portfolio-completed";
                    }

                    <div class="fh5co-portfolio-item">
                        <div class="@divClass">
                            <table class="table">
                                <tr>
                                    <td style="width: 75%; border: none">
                                        <h2>@bill.Name : @bill.FullDateDue.ToString("MMMM yyyy")</h2>
                                        <p>@bill.FullDateDue.ToString("dd/MM/yyyy")</p>
                                        <p>
                                            @foreach (var person in bill.People)
                                            {
                                                var grayscale = "grayscale(100%)";
                                                var opacity = "opacity(50%)";

                                                if (person.Paid)
                                                {
                                                    grayscale = "grayscale(0%)";
                                                    opacity = "opacity(100%)";
                                                }

                                                <img src="@person.ImageLink" width="40" style="filter: @grayscale @opacity; -webkit-filter: @grayscale @opacity"/>
                                            }
                                        </p>
                                        <p>
                                            <a href="@Url.Action("BillDetails", "Finance", new {billId = @bill.Id })" class="btn btn-primary">See Bill Details</a>
                                        </p>
                                    </td>
                                    <td style="width: 60%; border: none">
                                        @if (bill.Paid)
                                        {
                                            <span style="font-size: 40px; color: rgb(80, 80, 80)">PAID</span>
                                        }
                                        else
                                        {
                                            <span style="font-size: 40px">£@bill.AmountDue.ToString("####.00")</span>
                                            <span> due</span>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
                                                    
                <a href="@Url.Action("BillArchive", "Finance")" class="btn btn-primary" style="float: right">See All Bills</a>
            }
            catch (Exception exception)
            {
                ViewBag.ExceptionMessage = "An Error occured while rendering the Bill list.";

                <div class="fh5co-portfolio-item">
                    <div class="fh5co-portfolio-description">
                        <p>@ViewBag.ExceptionMessage @exception.Message</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="fh5co-portfolio-item">
                <div class="fh5co-portfolio-description">
                    <p>@ViewBag.ExceptionMessage</p>
                </div>
            </div>
        }
    </div>
</div>