@model SaltVault.Core.Shopping.Models.ShoppingListResponse
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Shopping List</h1>
    <p class="lead">Enter items that need purchasing here.</p>
</div>

<div class="row">
    <div class="mainContentWrapper">
        <p>@ViewBag.ExceptionMessage</p>
        <h1 class="mainContentHeader">List of Shopping Items</h1>
        <a href="@Url.Action("AddItem", "Shopping")" class="btn btn-primary" style="float: right">Add New Shopping Item</a>

        @try
        {
            <table id="example" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="padding-left: 5px">Item</th>
                        <th style="padding-left: 5px">Added On</th>
                        <th style="padding-left: 5px; width: 150px">Added By</th>
                        <th style="padding-left: 5px; width: 150px">For</th>
                        <th style="padding-left: 5px; width: 80px"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.ShoppingList)
                    {
                    var classStyle = "card_Normal";

                    if (item.Purchased)
                    {
                        classStyle = "card_Complete";
                    }

                    <tr>
                        <th class=@(classStyle)>
                            <span>@item.Name</span>
                        </th>
                        <th class=@(classStyle)>
                            <span>@item.DateAdded.ToString("dd/MM/yyyy")</span>
                        </th>
                        <th class=@(classStyle)>
                            <img src="@item.AddedByImage" width="20" />
                        </th>
                        <th class=@(classStyle)>
                            @foreach (var image in item.AddedForImages)
                            {
                                <img src="@image" width="20" />
                            }
                        </th>
                        <th class=@(classStyle) style="text-align: right">
                            @if (!item.Purchased)
                            {
                                <a href="@Url.Action("CompleteItem", "Shopping", new {itemId = item.Id})">
                                    <img src="http://i.imgur.com/7ruF8yE.png" alt="Complete" height="20" width="20" />
                                </a>
                            }
                            <a href="@Url.Action("DeleteItem", "Shopping", new {itemId = item.Id})">
                                <img src="http://i.imgur.com/ltfOB60.png" alt="Delete" height="20" width="20" />
                            </a>
                        </th>
                    </tr>
                    }

                </tbody>
            </table>
        }
        catch (Exception exception)
        {
            ViewBag.ExceptionMessage = "An Error occured while rendering the Shopping list.";

            <div>
                <p>@ViewBag.ExceptionMessage @exception.Message</p>
            </div>
        }

    </div>
</div>