@using System.Threading.Tasks
@using HouseFinance.Core.Bills
@using HouseFinance.Core.FileManagement
@using HouseFinance.Core.People
@model HouseFinance.Models.PaymentFormHelper
@{
    ViewBag.Title = "Add Payment";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="mainContentWrapper">
        @using (Html.BeginForm("AddPayment", "Finance", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            var bill = new GenericFileHelper(FilePath.Bills).Get<Bill>(Model.BillId);
            var people = new GenericFileHelper(FilePath.People).GetAll<Person>();

            @Html.HiddenFor(m => m.BillId, Model.BillId)

            <h4>Add a payment here to add it to @bill.Name : @bill.Due.ToString("MMMM yyyy")</h4>
            <hr />
            <div class="form-group">
                @Html.Label("Amount:", "Amount", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Payment.Amount, new { @class = "form-control", Value = (bill.AmountOwed / bill.People.Count).ToString("0.00") })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Paid On", "Paid On", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Payment.Created, DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", type = "date", Value = DateTime.Now.ToString("yyyy-MM-dd") })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Person:", "Person", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @for (var i = 0; i < people.Count; i++)
                    {
                        @Html.RadioButtonFor(m => m.Payment.PersonId, people[i].Id)
                        @Html.Label(people[i].FirstName + " " + people[i].LastName, people[i].FirstName + " " + people[i].LastName, new { @style = "padding-left: 1em" })
                        <br />
                    }
                </div>
            </div>
            <p style="color:red">@ViewBag.ExceptionMessage</p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Payment" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
