@using System.Threading.Tasks
@model HouseFinance.Models.AddPersonModel
@{
    ViewBag.Title = "Add Bill";
}

<div class="jumbotron">
    <h1>Add Bill</h1>
</div>

<div class="row">
    <div class="mainContentWrapper">
        @using (Html.BeginForm("AddPerson", "Finance", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h4>Add a bill here to add it to the bill list</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, "First Name: ", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, "Last Name: ", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ImageUrl, "Image Url: ", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <p style="color:red">@ViewBag.ExceptionMessage</p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Person" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
