@using SaltVault.WebApp.Models
@model PaymentFormHelper
@{
    ViewBag.Title = "Add Payment";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="mainContentWrapper">
        <div class="form-horizontal">
            <input id="billId" type="hidden" value="@Model.Bill.Id"/>

            <h4>Add a payment here to add it to @Model.Bill.Name : @Model.Bill.FullDateDue.ToString("MMMM yyyy")</h4>
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label">Amount: </label>
                <div class="col-md-10">
                    <input class="form-control" id="paymentAmount" value="@((Model.Bill.TotalAmount / Model.Bill.People.Count).ToString("###0.00"))" 
                           data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Paid On: </label>
                <div class="col-md-10">
                    <input class="form-control" id="paymentPaidOn" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" data-val="true" data-val-required="The Paid On field is required."  />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Person: </label>
                @{
                    var people = Model.People;

                    <div id="peopleList" class="col-md-10">
                        @foreach (var person in people)
                        {
                            <input id="paymentPersonId" name="paymentPersonId" type="radio" value="@person.Id" data-val="true" data-val-required="The Person field is required."/>
                            <label style="padding-left: 1em">@(person.FirstName + " " + @person.LastName)</label>
                            <br />
                        }
                    </div>
                }
            </div>
            <p style="color: red">@ViewBag.ExceptionMessage</p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Payment" class="btn btn-default" onclick="addPayment()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var billDetailsUrl = '@Url.Action("BillDetails", "Finance")';

    function addPayment() {
        var billId = document.getElementById("billId").value;
        var personId = -1;

        var peopleList = document.getElementById("peopleList");
        for (var i = 0; i < peopleList.children.length; i++) {
            if (peopleList.children[i].checked === true){
                personId = peopleList.children[i].value;
                break;
            }
        }

        var addPaymentRequest = {
            "BillId": billId,
            "Amount": document.getElementById("paymentAmount").value,
            "Created": document.getElementById("paymentPaidOn").value,
            "PersonId": personId
        }

        console.log(addPaymentRequest);

        $.ajax({
            url: '@Url.Action("AddPayment", "Api")',
            contentType: "application/json",
            type: "POST",
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', 'D2DB7539-634F-47C4-818D-59AD03C592E3');
            },
            data: JSON.stringify(addPaymentRequest),
            success: function (response) {
                window.top.location.href = billDetailsUrl + "?billId=" + billId;
            }
        });
    }
</script>