@using System.Threading.Tasks
@model SaltVault.WebApp.Models.PaymentFormHelper
@{
    ViewBag.Title = "Edit Payment for " + Model.Bill.Name;
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="mainContentWrapper">
        <div class="form-horizontal">
            <input id="billId" type="hidden" value="@Model.Bill.Id"/>
            <input id="paymentId" type="hidden" value="@Model.Payment.Id"/>

            <h4>Edit a payment for @Model.Bill.Name : @Model.Bill.FullDateDue.ToString("MMMM yyyy")</h4>
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label">Amount: </label>
                <div class="col-md-10">
                    <input class="form-control" id="paymentAmount" value="@Model.Payment.Amount" 
                           data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Paid On: </label>
                <div class="col-md-10">
                    <input class="form-control" id="paymentPaidOn" type="date" value="@Model.Payment.DatePaid.ToString("yyyy-MM-dd")" data-val="true" data-val-required="The Paid On field is required."  />
                </div>
            </div>
            <p style="color: red">@ViewBag.ExceptionMessage</p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit Payment" class="btn btn-default" onclick="editPayment()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var billDetailsUrl = '@Url.Action("BillDetails", "Finance")';

    function editPayment() {
        var billId = document.getElementById("billId").value;
        var paymentId = document.getElementById("paymentId").value;
        var editPaymentRequest = {
            "Id": paymentId,
            "Amount": document.getElementById("paymentAmount").value,
            "Created": document.getElementById("paymentPaidOn").value
        }

        $.ajax({
            url: '@Url.Action("UpdatePaymentV2", "Api")',
            contentType: "application/json",
            type: "PATCH",
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', 'D2DB7539-634F-47C4-818D-59AD03C592E3');
            },
            data: JSON.stringify(editPaymentRequest),
            success: function (response) {
                window.top.location.href = billDetailsUrl + "?billId=" + billId;
            }
        });
    }
</script>