@using System.Globalization
@using Services.FileIO
@using Services.Models.FinanceModels
@using Services.Models.GlobalModels
@model Bill
@{
    var people = new GenericFileHelper(FilePath.People).GetAll<Person>();
    var payments = new GenericFileHelper(FilePath.Payments).GetAll<Payment>();
    ViewBag.Title = "Details for " + Model.Name + " Bill";
}

<script type="text/javascript">
    function confirmSubmission(message) {
        confirm(message);
    }
</script>

<div class="jumbotron">
    <h2>@Model.Name : @Model.Due.ToString("MMMM yyyy") Details</h2>
</div>

<div class="row">
    <div id="fh5co-portfolio">
        <a href="@Url.Action("DeleteBill", "Finance", new {billId = @Model.Id})" class="btn btn-primary" style="float: right" onclick="confirmSubmission('Are you sure you wish to delete this bill?')">Delete Bill</a>
        <table id="example" class="table" cellspacing="0" width="100%">
            <thead>
            <tr style="color:black">
                <th>Amount Owed</th>
                <th>Amount Paid</th>
                <th>Due</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>@Model.AmountOwed.ToString("C", CultureInfo.GetCultureInfo("en-GB"))</th>
                <th>
                    @{ decimal amount = 0;
                        var amountString = "";
                    }
                    @foreach (var payment in payments)
                    {
                        if (Model.AmountPaid.Any(paymentId => paymentId.Equals(payment.Id)))
                        {
                            amount += payment.Amount;
                        }
                    }

                    @if (amount <= 0)
                    {
                        amountString = "£" + "0.00";
                    }
                    else
                    {
                        amountString = amount.ToString("C", CultureInfo.GetCultureInfo("en-GB"));
                    }

                    @amountString
                </th>
                <th>@Model.Due.ToString("dd/MM/yyyy")</th>
            </tr>
            </tfoot>
        </table>
        <a href="@Url.Action("AddPayment", "Finance", new {billId = @Model.Id})" class="btn btn-primary" style="float: right">Add Payment</a>
        <br />
        @if (Model.AmountPaid.Any())
        {
            <h4>Payments Made Towards This Bill: </h4>
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Person</th>
                    <th>Paid On</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tfoot>
                @foreach (var paymentId in Model.AmountPaid)
                {
                    var realPayment = payments.FirstOrDefault(payment => payment.Id.Equals(paymentId));
                    var person = new GenericFileHelper(FilePath.People).Get<Person>(realPayment.PersonId);

                    <tr>
                        <th>@person.FirstName @person.LastName</th>
                        <th>@realPayment.Created.ToString("dd/MM/yyyy")</th>
                        <th>@realPayment.Amount.ToString("C", CultureInfo.GetCultureInfo("en-GB"))</th>
                        <th style="width: 10%; text-align: right">
                            <a href="@Url.Action("EditPayment", "Finance", new { billId = Model.Id, paymentId = realPayment.Id })">
                                <img src="http://i.imgur.com/OJvwwyE.png" alt="Edit" height="20" width="20"/>
                            </a>
                            <a href="@Url.Action("DeletePayment", "Finance", new { billId = Model.Id, paymentId = realPayment.Id })" onclick="confirmSubmission('Are you sure you wish to delete this payment?')">
                                <img src="http://i.imgur.com/ltfOB60.png" alt="Delete" height="20" width="20" />
                            </a>
                        </th>
                    </tr>
                }
                </tfoot>
            </table>
        }
    </div>
</div>