@using System.Linq
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Rendering
@model HouseFinance.Models.ShoppingItemFormModel
@{
    ViewBag.Title = "Add Shopping Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="mainContentWrapper">
        @using (Html.BeginForm("AddItem", "Shopping", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m => m.Item.Id, Model.Item.Id)

            <h4>Add a shopping item here</h4>
            <hr />
            <div class="form-group">
                @Html.Label("Name:", "Name", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Item.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Added By:", "Added By", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @for (var i = 0; i < Model.SelectedPeople.Count; i++)
                    {
                        @Html.RadioButtonFor(m => m.Item.AddedBy, Model.SelectedPeople[i].Person.Id)
                        var label = Model.SelectedPeople[i].Person.FirstName + " " + Model.SelectedPeople[i].Person.LastName;
                        @Html.Label(label, label, new { @style = "padding-left: 1em" })
                        <br />
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Item For:", "Item For", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @for (var i = 0; i < Model.SelectedPeople.Count; i++)
                    {
                        @Html.HiddenFor(m => Model.SelectedPeople[i].Person.Id)
                        @Html.HiddenFor(m => Model.SelectedPeople[i].Person.FirstName)
                        @Html.HiddenFor(m => Model.SelectedPeople[i].Person.LastName)
                        @Html.HiddenFor(m => Model.SelectedPeople[i].Person.Image)
                        @Html.CheckBoxFor(m => Model.SelectedPeople[i].Selected)
                        var label = Model.SelectedPeople.ElementAt(i).Person.FirstName + " " + Model.SelectedPeople.ElementAt(i).Person.LastName;
                        @Html.Label(label, label, new { @style = "padding-left: 1em" })
                        <br />
                    }
                </div>
            </div>
            <p style="color:red">@ViewBag.ExceptionMessage</p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Item" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
